{
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:react/recommended", "plugin:react/jsx-runtime", "react-app"],
  "env": {
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  }
}
